* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    width: 750px;
    margin: auto;
    padding: 5px;
}

header .banner,
header .logo,
article,
aside {
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header {
    background-color: blue;
    height: 250px;
    display: flex;
    gap: 5px;
}

header .banner {
    width: 500px;
}

header .logo {
    width: 240px;
}

/* nav */
nav {
    background-color: forestgreen;
    height: 50px;
}

/* main */
main {
    background-color: antiquewhite;
    height: 400px;
    display: flex;
    gap: 5px;
}

main article {
    width: 450px;
}

main aside {
    width: 285px;
}

/* footer */
footer {
    background-color: yellow;
    height: 50px;
}
